<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/SVG/Element/path -->
<!DOCTYPE html>
<html>
{% load static %}
<style>
        <link rel="stylesheet" type="text/css" href='{% static "css/bulog.css" %}'>

</style>
<head>
    <link rel="stylesheet" type="text/css" href='{% static "css/bulog.css" %}'>
    <link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">
</head>
<div class='title'>
    <h1>PETA PERSEBARAN GUDANG BULOG</h1>
</div>
<div class='map'>
    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
         
        <line class="gp-t1"
              x1="50"
              y1="10"
              x2="-20"
              y2="40"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>
        <line class="t1-t2"
              x1="-20"
              y1="40"
              x2="-20"
              y2="70"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>
        <line class="t1-be"
              x1="-20"
              y1="40"
              x2="40"
              y2="60"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>
        <line class="t1-be-1"
              x1="40"
              y1="60"
              x2="120"
              y2="50"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>
        <line class="t1-jm"
              x1="-20"
              y1="40"
              x2="45"
              y2="40"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>
        <line class="t1-bo"
              x1="-20"
              y1="40"
              x2="10"
              y2="90"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>
        <line class="t1-bo-1"
              x1="10"
              y1="90"
              x2="70"
              y2="80"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>
        <line class="t2-bo"
              x1="-20"
              y1="70"
              x2="70"
              y2="80"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>
        <line class="bo-be"
              x1="70"
              y1="80"
              x2="120"
              y2="50"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>
        <line class="be-gp"
              x1="120"
              y1="50"
              x2="50"
              y2="10"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>
        <line class="be-jm"
              x1="120"
              y1="50"
              x2="45"
              y2="40"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>
        <line class="gp-jm"
              x1="51"
              y1="10"
              x2="45"
              y2="40"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>
        <line class="jm-bo"
              x1="45"
              y1="40"
              x2="70"
              y2="80"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>
        <line class="gp-t2"
              x1="50"
              y1="10"
              x2="-20"
              y2="70"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>
        <line class="gp-bo"
              x1="50"
              y1="10"
              x2="70"
              y2="80"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>
        <line class="t2-jm"
              x1="-20"
              y1="70"
              x2="45"
              y2="40"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>
        <line class="t2-be"
              x1="-20"
              y1="70"
              x2="95"
              y2="60"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>
        <line class="t2-be-1"
              x1="95"
              y1="60"
              x2="120"
              y2="50"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>
        <line class="jm-be"
              x1="45"
              y1="40"
              x2="120"
              y2="50"
              stroke-linecap="round"
              style="stroke:pink;stroke-width:2.5"/>

        <!-- sampai new updates map -->


        <line class="gp-t1-shadow"
              x1="50"
              y1="10"
              x2="-20"
              y2="40"
              stroke-linecap="round"
              style="stroke:#fdfd96;stroke-width:2"/>
        <line class="t1-t2-shadow"
              x1="-20"
              y1="40"
              x2="-20"
              y2="70"
              stroke-linecap="round"
              style="stroke:#fdfd96;stroke-width:2"/>
        <line class="t2-bo-shadow"
              x1="-20"
              y1="70"
              x2="70"
              y2="80"
              stroke-linecap="round"
              style="stroke:#fdfd96;stroke-width:2"/>
        <line class="bo-be-shadow"
              x1="70"
              y1="80"
              x2="120"
              y2="50"
              stroke-linecap="round"
              style="stroke:#fdfd96;stroke-width:2"/>
        <line class="be-gp-shadow"
              x1="120"
              y1="50"
              x2="50"
              y2="10"
              stroke-linecap="round"
              style="stroke:#fdfd96;stroke-width:2"/>
        <line class="gp-jm-shadow"
              x1="51"
              y1="10"
              x2="45"
              y2="40"
              stroke-linecap="round"
              style="stroke:#fdfd96;stroke-width:2"/>
        <line class="jm-bo-shadow"
              x1="45"
              y1="40"
              x2="70"
              y2="80"
              stroke-linecap="round"
              style="stroke:#fdfd96;stroke-width:2"/>
        <line class="gp-t2-shadow"
              x1="50"
              y1="10"
              x2="-20"
              y2="70"
              stroke-linecap="round"
              style="stroke:#fdfd96;stroke-width:2"/>
        <line class="gp-bo-shadow"
              x1="50"
              y1="10"
              x2="70"
              y2="80"
              stroke-linecap="round"
              style="stroke:#fdfd96;stroke-width:2"/>
        <line class="t2-jm-shadow"
              x1="-20"
              y1="70"
              x2="45"
              y2="40"
              stroke-linecap="round"
              style="stroke:#fdfd96;stroke-width:2"/>
        <line class="jm-be-shadow"
              x1="45"
              y1="40"
              x2="120"
              y2="50"
              stroke-linecap="round"
              style="stroke:#fdfd96;stroke-width:2"/>
        <line class="t1-be-shadow"
              x1="-20"
              y1="40"
              x2="40"
              y2="60"
              stroke-linecap="round"
              style="stroke:#fdfd96;stroke-width:2"/>
        <line class="t1-be-1-shadow"
              x1="40"
              y1="60"
              x2="120"
              y2="50"
              stroke-linecap="round"
              style="stroke:#fdfd96;stroke-width:2"/>
        <line class="t1-jm-shadow"
              x1="-20"
              y1="40"
              x2="45"
              y2="40"
              stroke-linecap="round"
              style="stroke:#fdfd96;stroke-width:2"/>
        <line class="t1-bo-shadow"
              x1="-20"
              y1="40"
              x2="10"
              y2="90"
              stroke-linecap="round"
              style="stroke:#fdfd96;stroke-width:2"/>
        <line class="t1-bo-1-shadow"
              x1="10"
              y1="90"
              x2="70"
              y2="80"
              stroke-linecap="round"
              style="stroke:#fdfd96;stroke-width:2"/>
        <line class="t2-be-shadow"
              x1="-20"
              y1="70"
              x2="95"
              y2="60"
              stroke-linecap="round"
              style="stroke:#fdfd96;stroke-width:2"/>
        <line class="t2-be-1-shadow"
              x1="95"
              y1="60"
              x2="120"
              y2="50"
              stroke-linecap="round"
              style="stroke:#fdfd96;stroke-width:2"/>
        <!-- sampai new updates map -->


        <circle class="gp" cx="51" cy="10" r="4" stroke="#aec3cf" stroke-width="0.5"
                fill="#aec3cf"/>
        <circle class="t1" cx="-19" cy="40" r="4" stroke="#aec3cf" stroke-width="0.5"
                fill="#aec3cf"/>
        <circle class="t2" cx="-19" cy="70" r="4" stroke="#aec3cf" stroke-width="0.5"
                fill="#aec3cf"/>
        <circle class="bo" cx="71" cy="80" r="4" stroke="#aec3cf" stroke-width="0.5"
                fill="#aec3cf"/>
        <circle class="be" cx="120" cy="50" r="4" stroke="#aec3cf" stroke-width="0.5"
                fill="#aec3cf"/>
        <circle class="jm" cx="45" cy="40" r="4" stroke="#aec3cf" stroke-width="0.5"
                fill="#aec3cf"/>

        <text x="35" y="5" fill="#aec3cf">GUDANG PUSAT</text>
        <text x="-30" y="35" fill="#aec3cf">TANGERANG I</text>
        <text x="-30" y="78" fill="#aec3cf">TANGERANG II</text>
        <text x="65" y="88" fill="#aec3cf">BOGOR</text>
        <text x="115" y="35" fill="#aec3cf">BEKASI</text>
        <text x="27" y="35" fill="#aec3cf">JAKARTA-MENTENG</text>
    </svg>
    <div class='boxes'>
        <div class="box" id="gp-node">
            <h2>Jumlah yang Akan Didistribusi</h2>
            <input class="input-s" id="gp-input" type="number">
        </div>
        <div class="box" id="t1-node">
            <h2>Kebutuhan Tangerang I</h2>
            <input class="input-s" id="t1-input" type="number">
        </div>
        <div class="box" id="t2-node">
            <h2>Kebutuhan Tangerang II</h2>
            <input class="input-s" id="t2-input" type="number">
        </div>
        <div class="box" id="jm-node">
            <h2>Kebutuhan Jakarta-Menteng</h2>
            <input class="input-s" id="jm-input" type="number">
        </div>
        <div class="box" id="bo-node">
            <h2>Kebutuhan Bogor</h2>
            <input class="input-s" id="bo-input" type="number">
        </div>
        <div class="box" id="be-node">
            <h2>Kebutuhan Bekasi</h2>
            <input class="input-s" id="be-input" type="number">
        </div>
        <a class="btn btn-2">Get Result</a>
    </div>
</div>
<div class='input'>
    <div class='title'>
        <h1>HASIL</h1>
        <div class="result">
            <div class="list-of-node">
                <p class="titl">GUDANG YANG DIKUNJUNGI:</p>
                <div class="res-node">
                </div>
            </div>
            <div class="sisa-beras">
                <p class="titl">SISA BERAS:</p>
                <div class="sisa">
                </div>
            </div>
            <div class="list-of-path">
                <p class="titl">JALAN YANG DILALUI:</p>
                <div class="res-path">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src='{% static "js/bulog.js" %}'>
</script>
</html>