html,body,svg {
  height:100%;
  text-align:center;
  padding: 0;
  margin: 0;
}

html,body {
  background-image: linear-gradient(to bottom, #ffc0cb, #ffcad4, #ffd5dc, #ffdfe5, #ffe9ed);
  height: 100%;
  font-family: 'Reem Kufi', sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

svg circle {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -o-animation:spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { r:3;}
	100% { r:3.5;}
}
@-moz-keyframes spin {
0% { r:3;}
	100% { r:3.5;}
}
@-o-keyframes spin {
	0% { r:3;}
	100% { r:3.5;}
}
@-ms-keyframes spin {
  0% { r:3;}
	100% { r:3.5;}
}
@keyframes spin {
	0% { r:3;}
	100% { r:3.5;}
}
svg {
  width: 100%;
}
svg text {
  font-size:4px;
}
svg text {
  opacity:1;
}
svg circle:hover + text{
  opacity:1;
}
svg circle:hover {
  cursor:pointer;
  fill:#fdfd96;
}
.map {
  background-color: rgb(255,255,255, 0.6);
  width: 85%;
  margin: 10px auto;
  height: 90%;
  border-radius: .5em;
  box-shadow: 0 .25em .25em -.125em rgba(0,0,0,.25), 0 .5em 1.25em rgba(0,0,0,.25);
}

.highlight {
    width: 56%;
    background-color: rgb(253, 253, 150, 0.45);
    height: 31px;
    position: absolute;
    top: 25px;
    left: 22%;

}

h1 {
  font-size: 40px;
  margin: 0;
}

h2{
  font-size: 12px;
}

.input {
  min-height: 50%;
  margin: 50px 100px;
  border-radius: .5em;
  background-color: rgb(255,255,255, 0.5);
  box-shadow: 0 0.25em 0.25em -0.125em rgba(0,0,0,.25), 0 0.5em 1.25em rgba(0,0,0,.25);
}

.input-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.kebutuhan {
  display: flex;
  flex-direction: row;
}

.input input{
    margin: 10px 50px;
    border-radius: 15px;
    height: 30px;
    width: 150px;
    border-color: transparent;
}

textarea:focus, input:focus{
    outline: none;
}

.input-s {
  align-items: center;
  margin: auto;
  border-bottom: 1px solid black;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  background-color: transparent;
}

input.jumlah-distribusi{
  width: 300px;
}
.distribusi {
  margin:10px;
}

.box {
    width: 160px;
    height: 80px;
    background-color: rgb(255,255,255, 0.8);
    position: absolute;
    border-radius: .5em;
    box-shadow: 0 .25em .25em -.125em rgba(0,0,0,.25), 0 .5em 1.25em rgba(0,0,0,.25);
}

#gp-node {
    top: 75px;
    left: 53%;
}
#t1-node {
    top:195px;
    left: 10%;
}
#t2-node {
    top: 530px;
    left: 10%;
}

#jm-node {
    top:215px;
    left: 47%;
}

#bo-node {
    top:520px;
    left: 45%;
}

#be-node {
    top:195px;
    left: 75%;
}

.btn {
  position: absolute;
  top: 80%;
  left: 75%;
  flex: 1 1 auto;
  padding: 30px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}
.btn-2 {
  background-image: linear-gradient(to right, #ffc0cb 0%, #ffcad4 30%, #ffd5dc 50%, #ffdfe5 75%, #ffe9ed 100%);
  /*background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);*/
}
.btn:hover{
    background-position: right center;
    cursor: pointer;
}
.result {
    display: flex;
    tex-align:center;
}
.list-of-node {
    width:33.3%;
}
.list-of-path {
    width:33.3%;
}
.sisa-beras {
    width:33.3%;
}
.titl {
    font-size:20px;
}